<!DOCTYPE html>
<html>
<head>
<style>
body{margin:0px;
}
header
{
width:1400px;
height:50px;
position:fixed;
background-color:White;
box-shadow:2px 4px 4px 2px grey;
padding:20px;
}
.header
{
border-style:solid;
}
.header:hover
{
background-color:#660066;
color:white;
font:bold;
}

a
{
padding:15px;
text-decoration:none;

}

</style>
<meta charset="ISO-8859-1">
<title>index</title>
</head>
<body>
 <header> 
<a class="header" href="index.html">Donation Portal</a>
<a class="header" href="org_signup.html">Organization signup</a>
<a class="header" href="usr_signup.html">User signup</a>
<a class="header" href="login.html">Login</a>
</header>
 	<div>

</body>
</html>