<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>User Registration</title>
</head>
<body>
<form name="form" method="post" action="/../../web_portal/public/html/org_controller.php">
<h2>Organization signup</h2>
<input class="zac" type="text" name="name" id="name" placeholder="Name">

<input class="zac" type="emailid" name="email" id="emailid" placeholder="Email Address">
<p>
<input class="zac" type="password" name="pass" id="pass" placeholder="Password">
<p>
<input class="zac" type="password" id="cpass" placeholder="Confirm password">
<p>
<input class="zac" type="digit" name="phone" id="phone" placeholder="Phone no.">
<p>
<div>Gender:
Male <input type="radio" name="gender" value="male">
Female<input type="radio" name="gender" value="female">
</div>
<p>
<input type="submit" value="Register" />
</form>
</body>
</html>
