<!DOCTYPE html> 
 <html>
  <head>
	<title>	 Forget	</title>
	<link rel='stylesheet' href='reg_css.css' type='text/css' />
  </head>
  <body>
  <center><h1> Forget Password</h1></center>
  <div  class="form">

            <form id="contactform">

          
                <p class="contact"><label for="email">Email</label></p>
				<input id="email" name="email" placeholder="example@domain.com" required="" type="email">
				
            

               <fieldset>

            </fieldset>

 

        
           <p class="contact"><label for="phone">Mobile phone</label></p>

            <input id="phone" name="phone" placeholder="phone number" required="" type="text"> <br>
          
			
   </form><br>
   <center>
  <input class="buttom" name="submit" id="submit" tabindex="5" value="Get New Password" type="submit">    
  </center>
</div>
</body>
</html>