<!DOCTYPE html> 
 <html>
  <head>
	<title>	 Log In	</title>
	<link rel='stylesheet' href='reg_css.css' type='text/css' />
  </head>
  <body>
  <center><h1> Log In 	</h1></center>
  <div  class="form">

            <form method="POST" action="Forget.html">

            
                <p class="contact"><label for="email">Email</label></p>
				<input id="email" name="email" placeholder="example@domain.com" required="" type="email">
				
  
                <p class="contact"><label for="password">Password</label></p>
                <input type="password" id="password" name="password" required="" type="text">

     

               <fieldset>
  </fieldset>

 

         

        <input class="buttom" type="submit" name="submit" tabindex="5" value="Log In">
            <!--<input class="buttom" name="submit" id="submit" tabindex="5" value="Log In!" OnClick="Forget.html" type="submit">    
			-->
   </form>
   <center><br>
   
   
  <!--<input class="buttom"  tabindex="5" value="Forget Password" type="submit"   >   
 --><a href="Forget.html">Forget Password ?</a>
</div>
</body>
</html>