<!DOCTYPE html> 
 <html>
  <head>
	<title>	NGO	Registration Form 	</title>
	<link rel='stylesheet' href='reg_css.css' type='text/css' />
	<script>
	function demo()
	{
	var a = document.getElementById("password").value;
	var b = document.getElementById("cpassword").value;
	if(a!=b)
	{
		alert("Password Does Not Match");
	}
	
	}
	</script>
  </head>
  <body>
  <center><h1> Registration Form For NGO	</h1></center>
  <div  class="form">

            <form id="contactform">

                <p class="contact"><label for="name">Name</label></p>
				<input id="name" name="name" placeholder="First and last name" required="" tabindex="1" type="text">
				
                <p class="contact"><label for="email">Email</label></p>
				<input id="email" name="email" placeholder="example@domain.com" required="" type="email">
				
				<p class="contact"><label for="username">Name of NGO</label></p>
                <input id="Nname" name="Nname" placeholder="Name of NGO" required="" tabindex="3" type="text">
				
                <p class="contact"><label for="username">Create a username</label></p>
                <input id="username" name="username" placeholder="username" required="" tabindex="2" type="text">

                <p class="contact"><label for="password">Create a password</label></p>
                <input type="password" id="password" name="password" required="" type="text">

                <p class="contact"><label for="repassword">Confirm your password</label></p>
                <input type="password" id="cpassword" name="password" required="" type="text" onchange="javascript:demo();">
	
				 <p class="contact"><label for="phone">Mobile phone</label></p>
            <input id="phone" name="phone" placeholder="phone number" required="" type="text"> <br>

            <p class="contact"><label for="address">Address</label></p>
			<textarea name="Address" cols=40 rows=4></textarea><br>
			
			<p class="contact"><label for="Aadhar Number">Verification Certificate</label></p>
			
			<p class="contact"><label for="file">Please upload Your Certificate Here:</label></p>
			<input type="file" name="datafile" size="40">
			<br>
			
			 <input class="buttom" name="submit" id="submit" tabindex="5" value="Sign me up!" type="submit"> 
</p>
   </form>

</div>
</body>
</html>