<!DOCTYPE html> 
 <html>
  <head>
	<title>	Registration Form For User	</title>
	<link rel='stylesheet' href='reg_css.css' type='text/css' />
	<script>
	function demo()
	{
	var a = document.getElementById("password").value;
	var b = document.getElementById("cpassword").value;
	if(a!=b)
	{
		alert("Password Does Not Match");
	}
	
	}
	</script>
  </head>
  <body>
  <center><h1>Registration Form For User	</h1></center>
  <div  class="form">

            <form id="contactform">

              <p class="contact"><label for="name">Name</label></p>
				<input id="name" name="name" placeholder="First and last name" required="" tabindex="1" type="text">
				
                <p class="contact"><label for="email">Email</label></p>
				<input id="email" name="email" placeholder="example@domain.com" required="" type="email">
				
               <p class="contact"><label for="username">Username</label></p>
                <input id="username" name="username" placeholder="username" required="" tabindex="2" type="text">

                <p class="contact"><label for="password">Password</label></p>
                <input type="password" id="password" name="password" required="" type="text">

                <p class="contact"><label for="repassword">Confirm your password</label></p>
                <input type="password" id="cpassword" name="password" required="" type="text" onchange="javascript:demo();">  

               <fieldset>

                 <label>Birthday</label>

                  <label class="month">

                  <select class="select-style" name="BirthMonth">

                  <option value="">Month</option>

                  <option  value="01">January</option>

                  <option value="02">February</option>

                  <option value="03" >March</option>

                  <option value="04">April</option>

                  <option value="05">May</option>

                  <option value="06">June</option>

                  <option value="07">July</option>

                  <option value="08">August</option>

                  <option value="09">September</option>

                  <option value="10">October</option>

                  <option value="11">November</option>

                  <option value="12" >December</option>

                  </label>

                 </select>   

                <label>Day<input class="birthday" maxlength="2" name="BirthDay"  placeholder="Day" required=""></label>

                <label>Year <input class="birthyear" maxlength="4" name="BirthYear" placeholder="Year" required=""></label>

              </fieldset>

 

            <select class="select-style gender" name="gender">

            <option value="select">i am..</option>

            <option value="m">Male</option>

            <option value="f">Female</option>

            <option value="others">Other</option>

            </select><br><br>

			

            <p class="contact"><label for="phone">Mobile phone</label></p>

            <input id="phone" name="phone" placeholder="phone number" required="" type="text"> <br>
            <p class="contact"><label for="address">Address</label></p>
			<textarea name="Address" cols=40 rows=4></textarea><br>
			
			<p class="contact"><label for="City">City</label></p>

            <select class="select-style city" name="city">

            <option value="select">Select--</option>
            <option value="m">Ahemdabad</option>
            <option value="f">Gandhinagar</option>
            <option value="others">Surat</option>
			<option value="others">Rajkot</option>
			<option value="others">Anand</option>
			<option value="others">Vadodra</option>
			<option value="others">Jamnagar</option>
            </select><br><br>
	
			<p class="contact"><label for="Aadhar Number">Aadhar Card No.</label></p>
			<input id="phone" name="Aadhar number" placeholder="Aadhar number" required="" type="text"><br>
			<p class="contact"><label for="file">Please upload picture of aadhar card :</label></p>
			<input type="file" name="datafile" size="40">
</p>
				
            <input class="buttom" name="submit" id="submit" tabindex="5" value="Sign me up!" type="submit" >   
   </form>

</div>
</body>
</html>